
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover
{
	outline:0px !important;
	-webkit-appearance:none;
}

html {
	height: 100%;
}

body {
	background: white;
	overflow: hidden;
	height: 100%;
	margin: 0;
	font-family: 'Open Sans' sans-serif;
}

a {
	cursor: pointer;
	color: rgb(101, 163, 190);
	font-weight: bold;
}

a:hover {
	color: rgb(39, 95, 119);
}

fieldset {
	border: none;
	background: none;
	2px solid rgb(187, 187, 187)
}

.notation {
	float: left;
	width: 40%;
	min-height: 100%;
}

.button {
	cursor: pointer;
	color: rgb(101, 163, 190);
	font-weight: bold;
	padding: 5px 10px;
	border: 2px solid #ddd;
	display: inline-block;
	margin: 0 4px;
}

.button:last-child {
	margin-right: 0;
}

.button:hover {
	box-shadow: 0 0 10px 0px rgb(220,220,220);
}

.notation-controls {
	padding: 20px;
	background: white;
}

#loadFile {
	display: none;
}

.code {
	position: relative;
	background: #f8f8f8;
	float: left;
	width: 60%;
	height: 100%;
	box-shadow: 0 0 10px 0px rgb(220,220,220);
}

.code-content {
	border: 2px solid #bbb;
	border-bottom: 0;
	border-right: 0;
	height: 100%;
}

#editor {
	width: 100%;
	height: 100%;
	font-size: 14px;
}

.code-status {
	border-left: 2px solid #bbb;
	width: 60%;
	height: 10em;
	width: 100%;
	background: #ddd;
	padding: 10px;
	margin: 0;
	min-height: 2.2em;
	overflow-y: auto;
	font-size: 12px;
}

.code-settings {
	border-left: 2px solid #bbb;
	background: #f8f8f8;
}

.code-settings .filePath {
	width: 6em;
}

.code-settings fieldset {
	display: inline-block;
	border-right: 1px solid #ddd;
	margin: 6px 0;
}

.code-settings fieldset:last-child {
	margin-right: 0;
	border-right: 0;
}

.modal {
	padding: 20px;
	background: white;
	width: 50%;
	height: 60%;
	position: fixed;
	left: 50%;
	margin-left: -30%;
	top: 50%;
	margin-top: -30%;
}

canvas {
	max-height: 100%;
	overflow-y: scroll;
}

.resizeHandle {
	position: absolute;
	top: 0;
	left: 0;
	width: 10px;
	height: 100%;
	color: red;
	cursor: col-resize;
}
